<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255624077603-ggdag23v8l31vfvha2ast4r4m3eum472.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255624077603-ggdag23v8l31vfvha2ast4r4m3eum472</string>
	<key>API_KEY</key>
	<string>AIzaSyDgn4LccDkdlvipbbocV-6MfsrLfiLRDfE</string>
	<key>GCM_SENDER_ID</key>
	<string>255624077603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takawano.ChatAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatwithfirebaseapp-444ba</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwithfirebaseapp-444ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255624077603:ios:85c368ccbbfc5dd967ec96</string>
	<key>DATABASE_URL</key>
	<string>https://chatwithfirebaseapp-444ba.firebaseio.com</string>
</dict>
</plist>