<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826082263153-2pqj1t5jrhh07aeqt4pfaf409jemfrjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826082263153-2pqj1t5jrhh07aeqt4pfaf409jemfrjk</string>
	<key>API_KEY</key>
	<string>AIzaSyBhxqWtEoYW77aYyJWKGwfWHLd4_v5EQr8</string>
	<key>GCM_SENDER_ID</key>
	<string>826082263153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takawano.ChatAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatappwithfirebase-b767d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappwithfirebase-b767d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826082263153:ios:d5b8b37c9ddc5d4eb61bd0</string>
	<key>DATABASE_URL</key>
	<string>https://chatappwithfirebase-b767d.firebaseio.com</string>
</dict>
</plist>